<?xml version="1.0"?>
<!--
/**
 * Salesoar
 *
 * @category    Salesoar
 * @package     Salesoar_Feed
 * @copyright   Copyright (c) 2015 Salesoar S.r.l. (http://salesoar.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Salesoar_Feed>
            <version>1.2.9</version>
        </Salesoar_Feed>
    </modules>
    <default>
        <Salesoar_Feed>
            <config>
                <Salesoar_Feed_enable>1</Salesoar_Feed_enable>
                <Salesoar_Feed_create_enable>1</Salesoar_Feed_create_enable>
                <Salesoar_Feed_all_categories>1</Salesoar_Feed_all_categories>
                <Salesoar_Feed_add_attributes>1</Salesoar_Feed_add_attributes>
                <cron_settings>0 1 * * *</cron_settings>
            </config>
        </Salesoar_Feed>
    </default>
    <global>
        <models>
            <Salesoar_Feed>
                <class>Salesoar_Feed_Model</class>
            </Salesoar_Feed>
        </models>
        <events>
            <admin_system_config_changed_section_salesoar_feed>
                <observers>
                    <mymodule>
                        <type>singleton</type>
                        <class>Salesoar_Feed_Model_Observer</class>
                        <method>handle_adminSystemConfigChangedSection</method>
                    </mymodule>
                </observers>
            </admin_system_config_changed_section_salesoar_feed>
        </events>
        <resources>
            <Salesoar_Feed_setup>
                <setup>
                    <module>Salesoar_Feed</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Salesoar_Feed_setup>
            <Salesoar_Feed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Salesoar_Feed_write>
            <Salesoar_Feed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Salesoar_Feed_read>
        </resources>
        <helpers>
            <Salesoar_Feed>
                <class>Salesoar_Feed_Helper</class>
            </Salesoar_Feed>
        </helpers>
        <blocks>
            <Salesoar_Feed>
                <class>Salesoar_Feed_Block</class>
            </Salesoar_Feed>
        </blocks>
    </global>

    <admin>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <Salesoar_Feed>
                    <files>
                        <default>Salesoar_Feed.csv</default>
                    </files>
                </Salesoar_Feed>
            </modules>
        </translate>
        <layout>
            <updates>
                <Salesoar_Feed>
                    <file>Salesoar_Feed.xml</file>
                </Salesoar_Feed>
            </updates>
        </layout>
        <layout>
            <updates>
                <Salesoar_Feed>
                    <file>Salesoar_Feed.xml</file>
                </Salesoar_Feed>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <translate>
            <modules>
                <Salesoar_Feed>
                    <files>
                        <default>Salesoar_Feed.csv</default>
                    </files>
                </Salesoar_Feed>
            </modules>
        </translate>
        <routers>
            <Salesoar_Feed>
                <use>standard</use>
                <args>
                    <module>Salesoar_Feed</module>
                    <frontName>salesoar</frontName>
                </args>
            </Salesoar_Feed>
        </routers>
        <layout>
            <updates>
                <Salesoar_Feed>
                    <file>Salesoar_Feed.xml</file>
                </Salesoar_Feed>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <Salesoar_Feed_create_feeds>
                <config>
                    <config_path>Salesoar_Feed/schedule/cron_settings</config_path>
                </config>
                <run>
                    <model>Salesoar_Feed/All::createAllXml</model>
                </run>
            </Salesoar_Feed_create_feeds></jobs>
    </crontab>
</config>
